* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F3E7D5;
}

.container {
    background-color: #fff;
    width: 80%;
    margin: 5% auto;
    border-radius: 20px;
}

.container-lista {
    padding: 5% 10%;
}

.container-lista h1 {
    text-align: center;
    padding: 20px 0;
}

.inputs {
    display: flex;
    height: 30px;
    margin: 20px 0;
}

#item-name {
    width: 85%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    padding: 0 10px;
}

#item-submit {
    width: 15%;
    border: 1px solid rgb(31, 167, 38);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: rgb(31, 167, 38);
    background-color: #fff;
    transition: .4s;
}
#item-submit:hover {
    background-color: rgb(31, 167, 38);
    color: #fff;
}

.div-item {
    display: flex;
    height: 30px;
    align-items: center;
    padding-top: 20px;
}

.product-name {
    width: 85%;
    font-size: 18px;
    padding-bottom: 5px;
    /* color: black; */
}

.finished {
    color: blue;
    text-decoration: line-through;
    transition: .4s;
}

.product-items {
    width: 15%;
}

.product-icons {
    display: flex;
    font-size: 30px;
    color: blue;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
}
#trash {
    color: red;
}
.product-icons i {
    cursor: pointer;
}

.container-erase {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 10px;
}

#btn-limpar {
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 5px;
    color: red;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
    background-color: #fff;
}
#btn-limpar:hover {
    background-color: red;
    color: #fff;
}

@media screen and (max-device-width: 500px){
    .inputs {
        flex-direction: column;
    }
    #item-name {
        width: 100%;
        font-size: 13px;
        text-align: center;
        padding: 5px 0;
        height: 20px;
        margin-bottom: 5px;
    }
    #item-submit {
        width: 100%;
        font-size: 13px;
        padding: 5px 0;
        margin-bottom: 20px;
    }

    #finalizado, #trash {
        font-size: 20px;
    }

    .product-icons {
        gap: 15px;
    }

    .product-name {
        margin: 0;
        padding: 0;
    }

    #item-submit {
        border: 1px solid rgb(31, 167, 38);
        color: rgb(31, 167, 38);
    }
    #item-submit:active {
        border: 1px solid rgb(31, 167, 38);
        color: rgb(31, 167, 38);
    }
}